h1 {
					font-family: cursive;
					font-size: 100px;
					text-align: center;
					color: white;
}
h4 {
					font-size: 50px;
					text-align: center;
					font-family: cursive;
					color: white;
}
p{
					font-family: serif;
					font-size: 30px;
					text-align: center;
					color: white;
}
a {
					color: pink;
}
h2 {
					color: gray;
					font-size: 40px;
					text-align: center;
}
body {
					background: url('src/Blur.jpeg');
					background-size: 2000px;
					background-repeat: no-repeat;
					background-position: center center;
}
